
.products-component {
  .product{
    margin:5px;
    width:30%;
    float:left;
    max-width:300px;
    img {max-width: 100px; }
    @media only screen and (max-width: 400px) {
      width:100%;
    }
    mat-card{
      text-align:center;
    }
  }
    .product li{
      display: inline-block;
      width: 20%;
      border: 1px solid #808080;
  }
}
